@charset "UTF-8";
body, html {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}

/* font */
@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* index */

.mainDiv {
	width:100%;
	height:100%;
}
.inputArea {
	width:70%;
	margin:0 auto; 
	text-align:center;
}
#IDPW {
	width:30%;
	display:inline-block;
	margin: 20px 5px 0px 5px; 
}
.leftDiv {
	width:50%;
	height:100%;
	float:left;
	background-color: #ff90b7;
	background-image: url("../img/twitter_logo.png");
	background-position:7% 40%;
	background-size: 160%;
	margin:0 auto; 
	text-align:center;
}
.leftText{
	font-size:18px;
	font-weight:bold;
	color:white;
	margin:0 auto; 
	display:inline-block;
	vertical-align: middle;
	position:absolute;
	top:50%;
	left:25%;
	transform: translate(-50%, -50%);
}
#text {
	text-align:left;
	margin-bottom:30px;
}
.rightDiv {
	width:50%;
	height:100%;
	float:right;
	margin:0 auto; 
	text-align:center;
	
}
.rightText {
	float:left;
	width: 380px;	
	display:inline-block;
	vertical-align: middle;
	position:absolute;
	top:50%;
	transform: translate(-50%, -50%);
}
.img_wrap{
	width: 100%;
	height: 38px !important;
	margin-bottom: 20px;
}
.main_img{
	float:left
}
#boldText {
	font-size:30px;
	font-weight: bold;
	text-align:left;
}
#miniText {
	font-size:14px;
	font-weight: bold;
	text-align:left;
}
#signUp {
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	margin: 15px 0px 15px 0px;
}

@media (max-width:760px){
	.rightText{ width : 30%;}
	
}

/* signUp */

.signUp_header {
	height: 10%;
	text-align:center;
	margin:15px 10px 10px 10px;
}
.signUp_section {
	width: 80%;
	height: 90%;
	margin:0 auto;
	text-align:center;
}
.signUp_input {
	
}
.signUp_select {
	text-align:center;
}
#select {
	display:inline-block;
	margin:3px;
}
#signUp_comment {
	text-align:left;
	margin-bottom: 10px; 
	font-weight:bold;
}

/* nav */

.navDiv {
	margin-left: 45%;
}

.navUl {
	list-style: none;
	font-size: 20px;
	font-weight: 450;
	line-height: 50px;
	font-family: 'TmoneyRoundWindRegular';
	text-decoration: none;
}

#navTwitButton {
	width: 200px;
	margin: 20px;
}

#navImg {
	margin:5px 20px 5px 5px;
	padding-bottom: 10px;
}

#navA {
	color: black;
}

/* profile */

.profileDiv {
	width: 100%;
	height: 100%;
}

.profileNav {
	width: 30%;
	height: 100%;
	float: left;
	/* background-color: yellow; */
}

.profileSection {
	width: 40%;
	height: 100%;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	float: left;
	/* background-color: #0080ff; */
}

.profileSectionTop {
	width: 100%;
	height: 5%;
	float: left;
	border-bottom: 1px solid #e0e0e0;
	
}

#profileBackButton {
	margin: 10px;
	float: left;
}

#profileTwitId {
	float: left;
	font-size: 18px;
	font-weight: bold;
	font-family: 'TmoneyRoundWindRegular';
	float: left;
	margin: 0 auto;
}

#profileTwitCount {
	
}

#profileText {
	margin: 0 auto;
}

.profileAside {
	width: 30%;
	height: 100%;
	float: left;
	/* background-color: red; */
}

/* login */

.login_header {
	margin: 20px;
	/* margin-left: 30px; */
}

#login_comment {
	text-align:center;
	margin-bottom: 10px; 
	font-weight:bold;
}

.login_mainDiv {
	width: 30%;
	height: 50%;
	margin:0 auto;
	text-align:center;
}

#loginError {
	color: red;
	font-size: 16px;
}

/* pwReset */

.pwResetMain {
	width: 30%;
	height: 50%;
	margin:0 auto;
	text-align:center;
}

#pwResetHeader {
	width: 100%;
	font-size: 20px;
	color: gray;
	border-bottom: 2px solid gray;
	text-align:center;
	margin: 10px;
}

#pwResetH2 {
	margin: 40px;
}

#pwResetInput {
	width: 300px;
	margin-bottom: 20px;
	margin-left: 85px;
}










