@charset "UTF-8";
body, html {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}

/* font */
@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* index */

.mainDiv {
	width:100%;
	height:100%;
}
.inputArea {
	width:70%;
	margin:0 auto; 
	text-align:center;
}
#IDPW {
	width:30%;
	display:inline-block;
	margin: 20px 5px 0px 5px; 
}
.leftDiv {
	width:50%;
	height:100%;
	float:left;
	background-color: #ff90b7;
	background-image: url("../img/twitter_logo.png");
	background-position:7% 40%;
	background-size: 160%;
	margin:0 auto; 
	text-align:center;
}
.leftText{
	font-size:18px;
	font-weight:bold;
	color:white;
	margin:0 auto; 
	display:inline-block;
	vertical-align: middle;
	position:absolute;
	top:50%;
	left:25%;
	transform: translate(-50%, -50%);
}
#text {
	text-align:left;
	margin-bottom:30px;
}
.rightDiv {
	width:50%;
	height:100%;
	float:right;
	margin:0 auto; 
	text-align:center;
	
}
.rightText {
	float:left;
	width: 380px;	
	display:inline-block;
	vertical-align: middle;
	position:absolute;
	top:50%;
	transform: translate(-50%, -50%);
}
.img_wrap{
	width: 100%;
	height: 38px !important;
	margin-bottom: 20px;
}
.main_img{
	float:left
}
#boldText {
	font-size:30px;
	font-weight: bold;
	text-align:left;
}
#miniText {
	font-size:14px;
	font-weight: bold;
	text-align:left;
}
#signUp {
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	margin: 15px 0px 15px 0px;
}

@media (max-width:760px){
	.rightText{ width : 30%;}
	
}

/* signUp */

.signUp_header {
	height: 10%;
	text-align:center;
	margin:15px 10px 10px 10px;
}
.signUp_section {
	width: 80%;
	height: 90%;
	margin:0 auto;
	text-align:center;
}
.signUp_input {
	
}
.signUp_select {
	text-align:center;
}
#select {
	display:inline-block;
	margin:3px;
}
#signUp_comment {
	text-align:left;
	margin-bottom: 10px; 
	font-weight:bold;
}

/* nav */

.navDiv {
	display: flex;
	flex-direction: column;
}

#navBird {
	display: flex;
	align-self: center;
	margin: 20px 140px 20px 20px;
}

#navList {
	display: flex;
	align-self: center;
}

.navUl {
	list-style: none;
	font-size: 20px;
	font-weight: 450px;
	line-height: 50px;
	font-family: 'TmoneyRoundWindRegular';
	padding-right: 50px;
}

#navLi {	
	margin-bottom: 10px;
	border-radius: 25px;
	padding: 0 10px 0 10px;
}

#navButton {
	display: flex;
	align-self: center;
	flex-direction: column;
}

#navTwitButton {
	width: 200px;
	margin: 7px 20px 7px 20px;
	border-radius: 25px;
	outline: none;
}

#navImg {
	margin:5px 20px 5px 5px;
	padding-bottom: 10px;
}

#navA {
	text-decoration: none;
	color: black;
	font-weight: 500;	
	padding: 10px 40px 10px 20px;
}

#navA:hover {
	background-color: #def8fe;
	color: #2fccdd;
	padding: 10px 40px 10px 20px;
	border-radius: 25px;
	text-decoration: none;
}

/* home */

.homeDiv {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.homeNav {
	display: flex;
	flex-direction: row-reverse;
	width: 25%;	
}

.homeSection {
	width: 45%;
	height: 100%;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	display: flex;
	flex-direction: column; 
	/* background-color: #0080ff; */
}

.homeSectionTop {
	width: 100%;
	height: 5%;
	border-bottom: 1px solid #e0e0e0;
	height: 53px;
}

#homeText {
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0 5px 40px;
	font-family: 'TmoneyRoundWindRegular';
}
.homeInputArround {
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid #e0e0e0;
}
.homeInput {
	display: flex;
	flex-direction: column;
	width: 85%;
}

#homeProfileImg {
	display: flex;
	margin: 0 6px 0 12px;
	align-self: center;
	border-radius: 50px;
	width: 75px;
	height: 75px;
}

#homeTwitDiv {
	display: flex;
}

#homeTwitWritePlace {
	width: 100%;
	margin: 10px 0 0 10px;
	padding-top: 10px;
    resize: none;
    overflow-y: hidden; 
	font-size: 18px;
    line-height: 1.6;
    border: none;
    /* border-bottom: 2px solid #e0e0e0; */
    outline: none;
}

.hometwc{
	display: flex;
	justify-content: space-between;
}

.homeTwb{
	display: flex;	
}

.homeTwitIcon {
	display: flex;
	margin: 10px 0 10px 0;
}

#icon {
	margin: 10px;
}

#homeTwitButton{
	height: 40px;
	align-self: center;
	border-radius: 20px;
	padding: 0 30px 0 30px;
	font-size: 15px;
	font-weight: bold;
	outline: none;
}

.homeAside {
	width: 30%;
	height: 100%;
	display: flex;
}

.homeTimeline {
	
}
#homeSearchImg {
	margin: 0 auto;
	padding-right: 5px;
}
#homeSearch {
	display: flex;
	background-color: #efefef;
	margin: 10px;
	padding: 5px 10px 10px 15px;
	width: 250px;
	height: 40px;
	border-radius: 25px;
}

#homeSearchText {
	border: none; background: transparent;
	box-shadow: none;
}

/* login */

.login_header {
	margin: 20px;
	/* margin-left: 30px; */
}

#login_comment {
	text-align:center;
	margin-bottom: 10px; 
	font-weight:bold;
}

.login_mainDiv {
	width: 30%;
	height: 50%;
	margin:0 auto;
	text-align:center;
}

#loginError {
	color: red;
	font-size: 16px;
}

/* pwReset */

.pwResetMain {
	width: 30%;
	height: 50%;
	margin:0 auto;
	text-align:center;
}

#pwResetHeader {
	width: 100%;
	font-size: 20px;
	color: gray;
	border-bottom: 2px solid gray;
	text-align:center;
	margin: 10px;
}

#pwResetH2 {
	margin: 40px;
}

#pwResetInput {
	width: 300px;
	margin-bottom: 20px;
	margin-left: 85px;
}

/* profile */

.profileMain {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.profileNav {
	width: 30%;
	height: 100%;
	float: left;
	/* background-color: yellow; */
}

.profileSection {
	width: 40%;
	height: 100%;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	float: left;
	/* background-color: #0080ff; */
}

.profileSectionTop {
	width: 100%;
	height: 5%;
	border-bottom: 1px solid #e0e0e0;
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#profileBackButton {
	margin: 15px 10px 10px 20px;
	
	width: 25px;
	height: 15px;
}

#profileText {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}

#profileTwitId {
	margin-left: 5px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'TmoneyRoundWindRegular';
}

#profileTwitCount {
	font-size: 14px;
	color: #657786;
	font-weight: lighter;
	margin: 0 5px 0 5px;
}

.profileSectionMid {
	display: flex;
	flex-direction: column;
	
}

#profileBg{
	background-color: #e0e0e0;
	height: 250px;
	
}

#profileImage {
	
	border-radius: 100px;
	width: 175px;
	height: 175px;
	left: 30px;
	position: relative;
	bottom: 100px;
	z-index: 10;
}

#profileSetting {
	display: flex;
	flex-direction: column;
}

#profileSettool {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100px;
}

#profileInfo {
	display: flex;
	flex-direction: column;
	margin: 10px 10px 10px 20px;
}

#profileFw {
	flex-direction: row;
}

#profileText2 {
	font-size: 16px;
	color: #657786;
	font-weight: lighter;
	margin: 0 5px 0 5px;
}

#profileSettingBtn {
	border: 1px solid #0080ff;
	color: #0080ff;
	border-radius: 25px;
	align-self: center;
	padding: 10px 10px 7px 10px;
	font-size: 16px;
	font-weight: bold;
	margin-right: 16px;
	outline: none;
}


#profileSectionBottom {
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid #e0e0e0;	
	height: 52px;
}

#profileSectionBottom div {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-self: center;
	font-size: 18px;
	cursor: pointer;
	font-weight: bold;
	padding: 0 5px 0 5px;
}

#profileSectionBottom div:hover {
	color: #1da1f2;
	font-weight: bold;
	background-color: #e2f3fe;
	border-bottom: 2px solid #1da1f2;
	padding: 12px 5px 12px 5px;
}

.profileAside {
	width: 30%;
	height: 100%;
	float: left;
}








